[{
  "prompt": "Back in the day, I used to {{.Verb.Present}} {{.Verb.ExampleComplement}}",
  "response": "Antigamente, eu {{.Tense.FirstPersonSingular}} {{.Verb.PortugueseExampleComplement}}"
},{
  "prompt": "Back in the day, you used to {{.Verb.Present}} {{.Verb.ExampleComplement}}",
  "response": "Antigamente, você {{.Tense.ThirdPersonSingular}} {{.Verb.PortugueseExampleComplement}}"
},{
  "prompt": "Back in the day, he used to {{.Verb.Present}} {{.Verb.ExampleComplement}}",
  "response": "Antigamente, ele {{.Tense.ThirdPersonSingular}} {{.Verb.PortugueseExampleComplement}}"
},{
  "prompt": "Back in the day, she used to {{.Verb.Present}} {{.Verb.ExampleComplement}}",
  "response": "Antigamente, ela {{.Tense.ThirdPersonSingular}} {{.Verb.PortugueseExampleComplement}}"
},{
  "prompt": "Back in the day, we used to {{.Verb.Present}} {{.Verb.ExampleComplement}}",
  "response": "Antigamente, nós {{.Tense.FirstPersonPlural}} {{.Verb.PortugueseExampleComplement}}"
},{
  "prompt": "Back in the day, y'all used to {{.Verb.Present}} {{.Verb.ExampleComplement}}",
  "response": "Antigamente, vocês {{.Tense.ThirdPersonPlural}} {{.Verb.PortugueseExampleComplement}}"
},{
  "prompt": "Back in the day, the guys used to {{.Verb.Present}} {{.Verb.ExampleComplement}}",
  "response": "Antigamente, eles {{.Tense.ThirdPersonPlural}} {{.Verb.PortugueseExampleComplement}}"
},{
  "prompt": "Back in the day, the gals used to {{.Verb.Present}} {{.Verb.ExampleComplement}}",
  "response": "Antigamente, elas {{.Tense.ThirdPersonPlural}} {{.Verb.PortugueseExampleComplement}}"
}]