[{
  "prompt": "I {{.Verb.Present}} {{.Verb.ExampleComplement}}",
  "response": "Eu {{.Tense.FirstPersonSingular}} {{.Verb.PortugueseExampleComplement}}"
},{
  "prompt": "You {{.Verb.Present}} {{.Verb.ExampleComplement}}",
  "response": "Você {{.Tense.ThirdPersonSingular}} {{.Verb.PortugueseExampleComplement}}"
},{
  "prompt": "He {{.Verb.ThirdPersonPresent}} {{.Verb.ExampleComplement}}",
  "response": "Ele {{.Tense.ThirdPersonSingular}} {{.Verb.PortugueseExampleComplement}}"
},{
  "prompt": "She {{.Verb.ThirdPersonPresent}} {{.Verb.ExampleComplement}}",
  "response": "Ela {{.Tense.ThirdPersonSingular}} {{.Verb.PortugueseExampleComplement}}"
},{
  "prompt": "We {{.Verb.Present}} {{.Verb.ExampleComplement}}",
  "response": "Nós {{.Tense.FirstPersonPlural}} {{.Verb.PortugueseExampleComplement}}"
},{
  "prompt": "Y'all {{.Verb.Present}} {{.Verb.ExampleComplement}}",
  "response": "Vocês {{.Tense.ThirdPersonPlural}} {{.Verb.PortugueseExampleComplement}}"
},{
  "prompt": "The guys {{.Verb.Present}} {{.Verb.ExampleComplement}}",
  "response": "Eles {{.Tense.ThirdPersonPlural}} {{.Verb.PortugueseExampleComplement}}"
},{
  "prompt": "The gals {{.Verb.Present}} {{.Verb.ExampleComplement}}",
  "response": "Elas {{.Tense.ThirdPersonPlural}} {{.Verb.PortugueseExampleComplement}}"
}]