[{
  "prompt": "I will go {{.Verb.Present}} {{.Verb.ExampleComplement}}",
  "response": "Eu {{.Tense.FirstPersonSingular}} {{.Verb.PortugueseExampleComplement}}"
},{
  "prompt": "You will go {{.Verb.Present}} {{.Verb.ExampleComplement}}",
  "response": "Você {{.Tense.ThirdPersonSingular}} {{.Verb.PortugueseExampleComplement}}"
},{
  "prompt": "He will go {{.Verb.Present}} {{.Verb.ExampleComplement}}",
  "response": "Ele {{.Tense.ThirdPersonSingular}} {{.Verb.PortugueseExampleComplement}}"
},{
  "prompt": "She will go {{.Verb.Present}} {{.Verb.ExampleComplement}}",
  "response": "Ela {{.Tense.ThirdPersonSingular}} {{.Verb.PortugueseExampleComplement}}"
},{
  "prompt": "We will go {{.Verb.Present}} {{.Verb.ExampleComplement}}",
  "response": "Nós {{.Tense.FirstPersonPlural}} {{.Verb.PortugueseExampleComplement}}"
},{
  "prompt": "Y'all will go {{.Verb.Present}} {{.Verb.ExampleComplement}}",
  "response": "Vocês {{.Tense.ThirdPersonPlural}} {{.Verb.PortugueseExampleComplement}}"
},{
  "prompt": "The guys will go {{.Verb.Present}} {{.Verb.ExampleComplement}}",
  "response": "Eles {{.Tense.ThirdPersonPlural}} {{.Verb.PortugueseExampleComplement}}"
},{
  "prompt": "The gals will go {{.Verb.Present}} {{.Verb.ExampleComplement}}",
  "response": "Elas {{.Tense.ThirdPersonPlural}} {{.Verb.PortugueseExampleComplement}}"
}]
