[{
  "prompt": "When I {{.Verb.Present}} {{.Verb.ExampleComplement}}, there will be peace",
  "response": "Quando, eu {{.Tense.FirstPersonSingular}} {{.Verb.PortugueseExampleComplement}}, haverá paz"
},{
  "prompt": "When you {{.Verb.Present}} {{.Verb.ExampleComplement}}, there will be peace",
  "response": "Quando, você {{.Tense.ThirdPersonSingular}} {{.Verb.PortugueseExampleComplement}}, haverá paz"
},{
  "prompt": "When he {{.Verb.ThirdPersonPresent}} {{.Verb.ExampleComplement}}, there will be peace",
  "response": "Quando, ele {{.Tense.ThirdPersonSingular}} {{.Verb.PortugueseExampleComplement}}, haverá paz"
},{
  "prompt": "When she {{.Verb.ThirdPersonPresent}} {{.Verb.ExampleComplement}}, there will be peace",
  "response": "Quando, ela {{.Tense.ThirdPersonSingular}} {{.Verb.PortugueseExampleComplement}}, haverá paz"
},{
  "prompt": "When we {{.Verb.Present}} {{.Verb.ExampleComplement}}, there will be peace",
  "response": "Quando, nós {{.Tense.FirstPersonPlural}} {{.Verb.PortugueseExampleComplement}}, haverá paz"
},{
  "prompt": "When y'all {{.Verb.Present}} {{.Verb.ExampleComplement}}, there will be peace",
  "response": "Quando, vocês {{.Tense.ThirdPersonPlural}} {{.Verb.PortugueseExampleComplement}}, haverá paz"
},{
  "prompt": "When the guys {{.Verb.Present}} {{.Verb.ExampleComplement}}, there will be peace",
  "response": "Quando, eles {{.Tense.ThirdPersonPlural}} {{.Verb.PortugueseExampleComplement}}, haverá paz"
},{
  "prompt": "When the gals {{.Verb.Present}} {{.Verb.ExampleComplement}}, there will be peace",
  "response": "Quando, elas {{.Tense.ThirdPersonPlural}} {{.Verb.PortugueseExampleComplement}}, haverá paz"
}]